<div class="desktop-display">
<div class="slideshow-container">
    <div class="slides-container">

        <div class="mySlides">
            <p>🏋️‍ BACK TO THE GYM SALES EVENT 🏃‍</p>
        </div>

        <div class="mySlides">
            <p>FREE SHIPPING ON USA ORDERS OVER $50 & INTL ORDERS OVER $100</p>
        </div>

        <div class="mySlides">
            <p>TAKE YOUR PICK WITH OUR FRESH SUMMER STYLES 😎</p>
        </div>

        <div class="mySlides">
            <p>ORDERS SHIP GLOBALLY WITHIN 24 BUSINESS HOURS 📦 ✈️</p>
        </div>

        <a class="prev-text">{% render 'icon-caret-left'%}</a>
        <a class="next-text">{% render 'icon-caret-right'%}</a>
    </div>
</div>
</div>