<div class="page-wrapper-help">
    <a id="show-help">
        {% include 'icon-service'%}
    </a>
    <nav class="sidebar-wrapper-help">
        <div class="sidebar-content">
            <div class="sidebar-header-container">
                <a class="sidebar-header-title" href="#">Help Center</a>
                <div id="close-help">
                    {% include 'icon-close'%}
                </div>
            </div>
            <ul id="menu">
                <li>
                    <a href="#" class="parent">
                        Call
                        <span>{% include 'icon-phone'%}</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="parent">
                        Email
                        <span>{% include 'icon-email'%}</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="parent">
                        LiveChat
                        <span>{% include 'icon-chat' %}</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="parent">
                        ORDER LOOKUP
                        <span>{% include 'icon-truck' %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>