<div class="collapse navbar-collapse" id="navbarFilterToggle">
    <div class="col-md-2 col-sm-12">
      <div class="dropdown">
        <button class="btn btn-black dropdown-toggle w-100" type="button" id="dropdownMenu2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          COLLECTION
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".surge">SURGE</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".air-flex">AIR-FLEX</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".tlf-train">TLF TRAIN</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".camo">CAMO</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".reps">REPS</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".collegiate">COLLEGIATE</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".swift">SWIFT</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".gravity">GRAVITY</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".core">CORE</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".graphix">GRAPHIX</button>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-12">
      <div class="dropdown">
        <button class="btn btn-black dropdown-toggle w-100" type="button" id="dropdownMenu2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          STYLE
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".bottoms">Bottoms</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".shorts">Shorts</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".joggers-pants">Joggers & Pants</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".leggings-tights">Leggings & Tights</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".tops">Tops</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".hoodies-sweatshirts-jackets">Hoodies-Sweatshirts & Jackets</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".tank-tops-sleeveless">Tank Tops & Sleeveless</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".long-sleeves">Long Sleeves</button>
              <button class="dropdown-item" type="button" mixitup-control data-toggle=".short-sleeves">Short Sleeves</button>
                  <button class="dropdown-item" type="button" mixitup-control data-toggle=".graphic-t-shirts">Graphic T-Shirts</button>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-12">
      <div class="dropdown">
        <button class="btn btn-black dropdown-toggle w-100" type="button" id="dropdownMenu2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SIZE
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".in-stock-xsmall">XSmall</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".in-stock-small">Small</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".in-stock-medium">Medium</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".in-stock-large">Large</button>
          <button class="dropdown-item" type="button" mixitup-control data-toggle=".in-stock-xlarge">XLarge</button>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-12">
      <div class="dropdown">
        <button class="btn btn-black dropdown-toggle w-100" type="button" id="dropdownMenu2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          COLOR
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item colorContainer" type="button" mixitup-control data-toggle=".black"
            style="background: rgb(0, 0, 0);"></button>
          <button class="dropdown-item colorContainer" type="button" mixitup-control data-toggle=".white"
            style="border: 1px solid black;"></button>
          <button class="dropdown-item colorContainer" type="button" mixitup-control data-toggle=".gray"
            style="background: rgb(128, 128, 128)"></button>
          <button class="dropdown-item colorContainer" type="button" mixitup-control data-toggle=".blue"
            style="background: rgb(1, 0, 205);"></button>
          <button class="dropdown-item colorContainer" type="button" mixitup-control data-toggle=".red"
            style="background: rgb(255, 0, 0);"></button>
          <button class="dropdown-item colorContainer" type="button" mixitup-control data-toggle=".green"
            style="background: rgb(0, 128, 0)"></button>
          <button class="dropdown-item colorContainer" type="button" mixitup-control data-toggle=".yellow"
            style="background: rgb(255, 255, 2)"></button>
          <button class="dropdown-item colorContainer" type="button" mixitup-control data-toggle=".purple"
            style="background: rgb(148, 0, 211)"></button>
          <button class="dropdown-item colorContainer" type="button" mixitup-control data-toggle=".brown"
            style="background: rgb(140, 69, 20)"></button>
          <button class="dropdown-item colorContainer" type="button" mixitup-control data-toggle=".orange"
            style="background: rgb(255, 153, 0)"></button>
        </div>
      </div>
    </div>
    <button type="button" class="col-md-2 col-sm-12" data-reset mixitup-control data-filter="all">Reset</button>