<div class="sticky-tabbar">
    <nav class="navbar mobile-icons" id="tabbar">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col tabbar-icons">
                    <div class="dropup" id="mobileCustomerAccount">
                    </div>
                </div>
                <div class="col tabbar-icons">
                    <div class="dropup" id="mobileWishlist">
                    </div>
                </div>
                <div class="col tabbar-icons">
                    <div class="dropup" id="mobileSearch">
                    </div>
                </div>
                <div class="col tabbar-icons">
                    <div class="dropup" id="mobileCart">
                    </div>
                </div>         
                <div class="col tabbar-icons">
                    <div class="dropup">
                        {%include 'chat-text-email' %}
                    </div>
                </div>         
            </div>
        </div>
    </nav>
</div>