<div class="page-wrapper mobile-display">
  <a id="show-sidebar" class="btn btn-sm">
    {% include 'icon-menu' %}
  </a>
  <nav class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-header-container">
        <a class="sidebar-header-title" href="#">TLF NAVIGATION</a>
        <div id="close-sidebar">
          {% include 'icon-close' %}
        </div>
      </div>
      <ul id="menu">
        {% for link in linklists[section.settings.menu].links %}
        {% if link.links != blank %}
        <li>
          <a class="parent">{{ link.title }}
            <span>{% include 'icon-arrow-down' %}</span>
          </a>
          <ul>
            {% for childlink in link.links %}
            {% if childlink.title == 'MEN' or childlink.title == 'WOMEN' or childlink.title == 'ACCESSORIES' or childlink.title == 'CATEGORIES'  or childlink.title == 'COLLECTIONS'%}
            <li>
              <a class="parent child-title">
                {{ childlink.title }}
                <span>{% include 'icon-arrow-down' %}</span>
              </a>
              <ul>
                {% for grandchildlink in childlink.links %}
                <li>
                  <a href="{{ grandchildlink.url }}" class="grandchild-title">
                    {{ grandchildlink.title | escape }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
        <li>
          <a href="#" class="parent">
            ORDER LOOKUP
          </a>
        </li>

        <li>
          <a class="parent">Contact Us
            <span>{% include 'icon-arrow-down' %}</span>
          </a>
          <ul>

            <li>
              <a href="#" class="parent child-title">
                Call
                <span>{% include 'icon-phone'%}</span>
              </a>
            </li>
            <li>
              <a href="#" class="parent child-title">
                Email
                <span>{% include 'icon-email'%}</span>
              </a>
            </li>
            <li>
              <a href="#" class="parent child-title">
                LiveChat
                <span>{% include 'icon-chat' %}</span>
              </a>
            </li>
          </ul>
        </li>

            {% comment %}
            {% include 'social-media-icons' %}
            {% endcomment %}
      </ul>
    </div>
  </nav>
</div>