<div class="social-media-row">
  <ul class="social-media-row">
    <li>
      <a target="_blank" href="#" title="Company Name on Instagram">
        {% include 'icon-instagram' %}
      </a>
    </li>
    <li>
      <a target="_blank" href="#" title="Company Name on Facebook">
        {% include 'icon-facebook' %}
      </a>
    </li>
    <li>
      <a target="_blank" href="#" title="Company Name on Twitter">
        {% include 'icon-twitter' %}
      </a>
    </li>
    <li>
      <a target="_blank" href="#" title="Company Name on YouTube">
        {% include 'icon-youtube' %}
      </a>
    </li>
    <li>
      <a target="_blank" href="#" title="Company Name on Pinterest">
        {% include 'icon-pinterest' %}
      </a>
    </li>
    <li>
      <a target="_blank" href="#" title="Company Name on TikTok">
        {% include 'icon-tiktok' %}
      </a>
    </li>
  </ul>
</div>