<div class="social-media-row">
  <ul class="social-media-row">
    <li>
      <a target="_blank" href="https://www.instagram.com/tlfapparel/" title="TLF Apparel on Instagram">
        {% include 'icon-instagram' %}
      </a>
    </li>
    <li>
      <a target="_blank" href="https://facebook.com/TLFApparel/" title="TLF Apparel on Facebook">
        {% include 'icon-facebook' %}
      </a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/tlfapparel" title="TLF Apparel on Twitter">
        {% include 'icon-twitter' %}
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.youtube.com/c/tlfapparel" title="TLF Apparel on YouTube">
        {% include 'icon-youtube' %}
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.pinterest.com/tlfapparel/" title="TLF Apparel on Pinterest">
        {% include 'icon-pinterest' %}
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.tiktok.com/@tlfapparel" title="TLF Apparel on TikTok">
        {% include 'icon-tiktok' %}
      </a>
    </li>
  </ul>
</div>