<div class="swipe-arrows-container">
    <span>Swipe Right</span>
    <svg class="swipe-arrow">
        <path class="a1" d="M2.6,6L2.2,6.4L7.8,12l-5.6,5.6L2.6,18l6-6L2.6,6z" />
        <path class="a2" d="M10,6L9.6,6.4l5.6,5.6l-5.6,5.6L10,18l6-6L10,6z" />
        <path class="a3" d="M17.4,6L17,6.4l5.6,5.6L17,17.6l0.4,0.4l6-6L17.4,6z" />
    </svg>
</div>