<footer>
  <div class="desktop-display">
  {% include 'desktop-footer'%}
  </div>


  <div class="mobile-display">
    {% include 'mobile-footer'%}
    </div>
   
</footer>

{% schema %}
{
"name": "Footer",
"settings": [
{
"type": "link_list",
"id": "footer_linklist_1",
"label": "First menu",
"default": "footer"
},
{
"type": "link_list",
"id": "footer_linklist_2",
"label": "Second menu",
"default": "footer"
},
{
"type": "link_list",
"id": "footer_linklist_3",
"label": "Third menu",
"default": "footer"
},
{
"type": "link_list",
"id": "footer_linklist_4",
"label": "Fourth menu",
"default": "footer"
}
]
}

{% endschema %}