<section class="container-fluid">
  <div class="row">
    {% for block in section.blocks %}
      <a href ="{{ block.settings.image_url }}" class="col-md">
       <img data-src="{{ block.settings.image | img_url:'master' }}" src="data:image/svg+xml,%3Csvg 
       xmlns='http://www.w3.org/2000/svg' 
       viewBox='0 0 3 2'%3E%3C/svg%3E" class="img-fluid lazyload" alt="Responsive image">
      </a>
    {% endfor %}
  </div>
</section>
{% schema %}
  {
    "name": "Custom Image",
    "settings": [
      {
        "type": "header",
        "content": "Custom Images"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "image_url",
            "label": "Image url"
          }          
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Images",
        "category": "Image"
      }
    ]
  }
{% endschema %}
